<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.renlei.myapplication" >

    <uses-sdk android:minSdkVersion="8" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PiechartActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".StartActivity"
            android:label="@string/title_activity_start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            >
        </activity>
        <activity
            android:name=".NumViewActivity"
            android:label="@string/title_activity_num_view" />
        <activity
            android:name=".chart.LineChartActivity"
            android:label="@string/title_activity_line_chart" />
        <activity
            android:name=".titlebar.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".titlebar.TestTitleBarActivity" />
        <activity android:name=".titlebar.TestTitleBarActivity2" />
        <activity android:name=".ViewStubAndIncludeTestActivity" />
        <activity
            android:name=".SurfaceViewTestActivity"
            android:label="@string/title_activity_surface_view_test" >
        </activity>
    </application>

</manifest>
