# Eclipse
.DS_Store
.settings/
products/
bin/
gen/
obj/
.classpath
Thumbs.db
local.properties
*.iml
out/
.idea/
.metadata
/data
/simian-log.xml

/build
/products
.gradle
/.idea/workspace.xml
.DS_Store
.idea
/local.properties
*.iml
.settings.gradle
/build.gradle
/gradle/wrapper/gradle-wrapper.properties
